.hero-section{
    display: flex;
    flex-direction: column;
    justify-self: center;
}
#login{
    width: 150px;
}
.greeting{
    display: flex;
    justify-content: center;
}
.order-card{
    
    border: 2px solid black;
    padding: 2rem;
    width: fit-content;
    margin-left: 2rem ;
    margin-bottom: 20px;
}
.order-holder{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1000px){
    .order-card{
        width: 300px;
    }
    .order-holder{
        display: grid;
        grid-template-columns:repeat(auto-fit,min-max(300px,1fr))
    }
}
@media (max-width: 678px) {
    .order-card{
        width: 350px;
    }
    .order-holder{
        display: block;
    }
}